* {
    font-size: 12px;
}

window#waybar {
    background: transparent;
    color: {{ foreground }};
    transition-property: background-color, color;
    transition-duration: 0.2s;
}

#taskbar {
    background-color: {{ background }};
    border-radius: 8px;
}
#taskbar button {
    background: transparent;
    border: none;
    border-bottom: 4px solid transparent;
    border-radius: 0;
    box-shadow: none;
    -gtk-icon-shadow: none;
    transition-property: background-color, color;
}
#taskbar button:hover, #taskbar button.active:hover {
    background-color: {{ foreground }};
    border-radius: 8px;
    color: {{ background }};
}
#taskbar button.active {
    border-bottom: 4px solid {{ primary }};
    color: {{ primary_foreground }};
}
#taskbar button.active:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
